# Node
node_modules
*.log
npm-debug.log*
.DS_Store
.env.env.local
.env.development.local
.env.test.local
.env.production.local.env*.local



# Atividade 1 
/Atividade 1/node_modules/Atividade 1/dist
/Atividade 1/.env

# Atividade 2
/Atividade 2/node_modules/Atividade 2/dist
/Atividade 2/.env

# Atividade 3 
/Atividade 3/node_modules/Atividade 1/dist
/Atividade 3/.env

# Atividade 4 
/Atividade 4/node_modules/Atividade 1/dist
/Atividade 4/.env

# Atividade 5 
/Atividade 5/node_modules/Atividade 1/dist
/Atividade 5/.env

# Atividade 6 
/Atividade 6/node_modules/Atividade 1/dist
/Atividade 6/.env

# Atividade 7 
/Atividade 7/node_modules/Atividade 1/dist
/Atividade 7/.env